<div class="login">
  <div class="auth">
    <div>
      <div class="auth-logo"></div>
      <form>
        <h3>خوش آمدید</h3>
        <h6>ورود به حساب کاربری</h6>
        <div class="form-control">
          <label>نام کاربری:</label>
          <input name="username" type="text">
        </div>
        <div class="form-control">
          <label>رمز عبور:</label>
          <input name="password" type="text">
        </div>
        <div class="submit-control">
          <button type="button">ورود</button>
          <a>فراموشی رمز عبور</a>
        </div>
      </form>
    </div>
  </div>
  <div class="wallpaper">
    <div class="wallpaper-logo"></div>
    <div class="wallpaper-bg"></div>
    <div class="overlay">
      <div>
        <div class="wallpaper-img"></div>
        <p>خوشا به حال آن که به بندگان خدا نیکی کند و برای آخرت خود زاد و توشه برگیرد.</p>
        <span>امام علی علیه السلام</span>
      </div>
    </div>
  </div>
</div>
