<div class="profile">
  <div class="sidebar">
    <div class="options">
      <div class="user-op">
        <img src="/assets/icons/fi_user.svg" alt="">
      </div>
      <div class="user-op">
        <img src="/assets/icons/fi_menu.svg" alt="">
      </div>
    </div>
    <div class="navs">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link">صفحه اصلی</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">ویرایش پروفایل</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="dash-box">
      <div class="context">
        <div class="dash-page">
          <h1>ویرایش پروفایل</h1>
        </div>
        <div class="breadcrumb-wrapper">
          <div class="breadcrumb-icon"></div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="breadcrumb-link">ویرایش پروفایل</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="dash-card-wrapper">
      <div class="dash-card">
        <span class="card-title">اطلاعات پروفایل</span>
        <div class="profile">
          <ul>
            <li>
              <img src="/assets/images/user.png" alt="">
              <strong>نام</strong>
              <span>امیر رضا</span>
            </li>
            <li>
              <strong>نام خانوادگی</strong>
              <span>رضایی نژاد</span>
            </li>
            <li>
              <strong>تاریخ تولد</strong>
              <span>۱۳۷۴/۰۹/۱۳</span>
            </li>
            <li>
              <strong>کد ملی</strong>
              <span>1234567890</span>
            </li>
            <li>
              <strong>جنسیت</strong>
              <span>مرد</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
